header {
    padding: 0px 26px;
    display: flex;
    background-color: rgb(21, 21, 21);
    color: white;
}

header > h1{
    padding: 15px 5px;
    font-family: 'Trebuchet MS';
}

header > ul {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}
header > ul > li {
    list-style: none;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: Arial;
    padding: 10px;
    font-weight: bold;
    transition: 0.4s;
}
header a:hover {
    transform: scale(1.1);
}